# Dependency directories
/node_modules
/zecurx-lms-client/node_modules
/zecurx-lms-server/node_modules

# Logs and temporary files
*.log
npm-debug.log*

# Build/output folders
/build
/dist

# Environment variables (critical for security)
.env
*.env.local
deploy-ctf.bat
deploy-local.ps1.next
zecurx-lms-client/.next
zecurx-lms-server/dist
